<div class='columns is-multiline is-centered'>
  <div class='column is-8 container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>
        <div class='column is-3'>
          <span class='header-icon user-profile-image'>
            <img class='is-rounded' alt='' src='<%= user.profilePicture %>'>
          </span>
        </div>

        <div class="column is-9">
          <div class='column is-12 name'>
            <p>
              <span class='title is-bold'><%= user.username %></span>
              <br>
            </p>
            <p class='tagline'>
              <%= user.bio %>
            </p>

            <div class="column is-12-desktop has-text-centered">
              <% if(locals.isLoggedIn) { %>
                <% if(locals.currentUser.username !== user.username && !user.profilesFollowing.filter(id => id.toString() === locals.currentUser._id.toString()).length) { %>
                  <form style="display: inline-block" action='/user/<%= user._id %>/follow/<%= locals.currentUser._id %>' method='POST'>
                    <button class="button is-rounded">Follow</button>
                  </form>
                  <% } %>
                  <% } %>
            </div>
          </div>

          <div class="columns is-multiline">

            <div class='column is-4 has-text-centered'>
              <p class='stat-val'>398</p>
              <p class='stat-key'>posts</p>
            </div>
            <!--People this user is followed by -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'><%= user.followers.length %></p>
              <p class='stat-key'><a href="/profile/<%= locals.currentUser._id %>/followers">followers</a></p>
            </div>

            <div class='column is-4 has-text-centered'>
              <p class='stat-val'><%= user.profilesFollowing.length %></p>
              <p class='stat-key'><a href="/profile/<%= locals.currentUser._id %>/profilesFollowing">following</a></p>
            </div>

            <!--People this user is following -->

          </div>
        </div>
      </div>
    </div>


    <div class='profile-options is-fullwidth'>
      <div class='tabs is-fullwidth is-medium'>
        <ul>
          <li class='link'>
            <a>
              <span class='icon'>
                <i class='fas fa-th'></i>
              </span>
              <span>Grid View</span>
            </a>
          </li>
          <li class='link is-active'>
            <a>
              <span class='icon'>
                <i class='fa fa-list'></i>
              </span>
              <span>List View</span>
            </a>
          </li>
          <li class='link'>
            <a>
              <span class='icon'>
                <i class='fas fa-tag'></i>
              </span>
              <span>Tagged Photos</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='columns is-mobile'>
      <% user.addedPosts.forEach(post => { %>
        <div class='column is-4-tablet is-4-mobile'>
          <div class='profileCard'>
            <div class='card-image'>
              <figure class='image is-4by4'>
                <img alt='' src='<%= post.image %>'>
              </figure>
            </div>
          </div>
          <br>
        </div>
        <%})%>
      </div>
    </div>
  </div>
