<div class='columns is-multiline is-centered'>
  <div class='column is-8 container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>
        <div class='column is-3'>
          <span class='header-icon user-profile-image'>
            <img class='is-rounded' alt='' src='<%= user.profilePicture %>'>
          </span>
        </div>

        <div class="column is-9">
          <div class='column is-12 name'>
            <p>
              <span class='title is-bold'><%= user.username %></span>
              <br>
            </p>
            <p class='tagline'>
              <%= user.bio %>
            </p>

            <div class="column is-12-desktop has-text-centered">
              <% if(locals.isLoggedIn) { %>
                <% if(locals.currentUser.username !== user.username && !user.profilesFollowing.filter(id => id.toString() === locals.currentUser._id.toString()).length) { %>
                  <form style="display: inline-block" action='/user/<%= user._id %>/follow/<%= locals.currentUser._id %>' method='POST'>
                    <button class="button is-rounded">Follow</button>
                  </form>
                  <% } %>
                  <% } %>
            </div>
          </div>

          <div class="columns is-multiline">

            <!--Posts -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'><%= user.addedPosts.length %></p>
              <p class='stat-key'><a href="/profile/<%= user._id %>">posts</a></p>
            </div>

            <!--People this user is followed by -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'><%= user.followers.length %></p>
              <p class='stat-key'><a href="/profile/<%= user._id %>/followers">followers</a></p>
            </div>

            <!--People this user is following -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'><%= user.profilesFollowing.length %></p>
              <p class='stat-key'><a href="/profile/<%= user._id %>/profilesFollowing">following</a></p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!-- Following-->
    <div class ="columns is-multiline">
    <% user.profilesFollowing.forEach(user => { %>
        <div class="column is-4-tablet is-4-mobile">
          <div class="card profileCard">
            <!-- Profile Picture -->
            <div class="card-image">
              <figure class="image is4by4">
                <img src="<%= user.profilePicture %>" alt="Image">
              </figure>
            </div>
            <!-- Name -->
            <div class="columns is-multiline is-centered">
              <div class="column is-12 is-centered">
                <p>
                <strong><%= user.username %></strong><br>
                <a href="/profile/<%= user._id %>">@<%= user.username %></a>
                </p>
              </div>
            </div>
            <!-- Profile Picture -->
            <div class="columns is-multiline">
              <div class="column is-12">
                <p>
                  <span><i class="fas fa-briefcase"></i> <%= user.profession %></span><br>
                  <span><i class="far fa-building"></i><strong> <%= user.employer %></strong></span><br>
                </p><br>
              </div>
            </div>

            <!-- Username -->
            <div class="columns">
              <p class='bioCard exploreBio'>
                <strong>About <%= user.name %></strong><br>
                <em>"<%= user.bio %>"</em>
              </p>
            </div>

            <div class="columns">
              <div class="column is-12">
                <%= user.caption %>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
