<main>
  <div class="columns body-columns">
    <div class="column is-half is-offset-one-quarter">
      <% posts.forEach(post => {%>
        <div class="card">
          <!-- Post Header -->
          <div class="header">
            <div class="media">
              <div class="media-left">
                <figure class="profile-pic image is-48x48">
                  <img src="<%= post.addedBy.profilePicture %>" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <a href="/profile/<%= post.addedBy._id %>">
                  <p class="title is-6"><%= post.addedBy.username %></p>
                </a>
                <p class="subtitle is-6"><i class="fa fa-map-marker"></i> <%= post.addedBy.location %></p>
              </div>
            </div>
          </div>
          <br>

          <!-- Post Image -->
          <div class="card-image">
            <a href="/posts/<%= post.id %>" class="image is-4by4">
              <img src="<%= post.image %>">
            </a>
          </div>
          <!-- Post Icons -->
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item has-text-centered">
                  <a href="">
                    <i class="material-icons far fa-heart"></i>
                  </a>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <a href="/posts/show">
                      <i class="material-icons far fa-comment"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Post Header -->
            <div class="content">
              <div class="media-content">
                <a class="title is-6" href="/profile/<%= post.addedBy._id %>"><%= post.addedBy.username %></a>
                <br>
                <p>
                  <strong>32 Likes</strong>
                </p>
                <%= post.caption %>
                <br>
                <br>
                <time datetime="2018-1-1"><em><%= post.time %></em></time>
              </div>
            </div>
          </div>
          <br>
        </div>
      <% }) %>
  </div>

<!--
  <aside class="column is-3 is-hidden-mobile">
    <div class="panel">
      <p class="panel-heading has-text-centered">< locals.currentUser.username%></p>
      <a href="/profile" class="navbar-item">
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-home"></i>
        </span>
        <span class="name">Home</span>
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-map-marker"></i>
        </span>
        <span class="name">Item</span>
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-th-list"></i>
        </span>
        <span class="name">Item</span>
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-folder-o"></i>
        </span>
        <span class="name">Item</span>
      </a>
      <hr>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-comment-o"></i>
        </span>
        <span class="name">Item</span>
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-envelope-o"></i>
        </span>
        <span class="name">Item</span>
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-rss"></i>
        </span>
        <span class="name">Item</span>
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-database"></i>
        </span>
        <span class="name">Item</span>
      </a>
    </div>
  </aside>
  -->
</main>
